/**
 * ====================================================================
 * ==  @base  ==
 * ====================================================================
 */
/**
 * links
 */
a:not(.btn),
a:link:not(.btn),
a:hover:not(.btn),
a:visited:not(.btn),
a:focus:not(.btn) {
  text-decoration: none;
  color: inherit;
}

/**
 * grid
 */
.container {
  width: 480px;
}

/**
 * ====================================================================
 * ==  @video  ==
 * ====================================================================
 */
.video {
  display: table;
  width: 100%;
  margin-bottom: 1em;
}

/**
 * user img
 */
.video .user-img {
  display: table-cell;
  vertical-align: top;
  width: 75px;
}

/**
 * infos
 */
.video .video-infos {
  display: table-cell;
  vertical-align: top;
  padding-left: 1em;
}

/**
 * user name
 */
.video .video-infos .user-name {
  margin-bottom: .5em;
}

/**
 * name
 */
.video .video-infos .video-name {
  margin-bottom: .5em;
}
.video .video-infos .video-name .name {
  margin: 0;
  display: inline-block;
}

/**
 * desc
 */
.video .video-infos .video-desc {
  margin-bottom: .5em;
}
.video .video-infos .video-desc p {
  height: 90px;
  position: relative;
  overflow: hidden;
  margin-bottom: .5em;
}
.video .video-infos .video-desc.short p {
  height: auto;
}
.video .video-infos .video-desc.more p {
  height: auto;
  overflow: inherit;
}
.video .video-infos .video-desc.short p::after,
.video .video-infos .video-desc.more p::after,
.video .video-infos .video-desc.short .show-more,
.video .video-infos .video-desc.more .show-more,
.video .video-infos .video-desc.short .btn {
  display: none;
}
.video .video-infos .video-desc.more .show-less {
  display: inline-block;
}
.video .video-infos .video-desc p::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #fff);
}
.video .video-infos .video-desc .btn:hover {
  opacity: 1;
}
.video .video-infos .video-desc .show-less {
  display: none;
}

/**
 * details
 */
.video .video-infos .video-details ul li {
  display: inline;
  margin-right: .5em;
}
.video .video-infos .video-details ul li:last-child {
  margin-right: 0;
}
.video .video-infos .video-details ul li .icon {
  margin-right: .5rem;
  font-size: .8em;
}

/**
 * pagination btns
 */
.pagination-btn {
  margin-bottom: 1em;
}
